/**** 모바일 코딩 기준 : 360px ****/

/*** 반복사용 class start ***/
/** 0. custom checkbox & radio **/
input[type="checkbox"]{
	display:none;
}
input[type="checkbox"] + label{
	color:red;
}
input[type="checkbox"] + label span{
	display:inline-block;
	width: 16px;
	height:16px;
	margin:-2px 10px 0px 0px;
	vertical-align: middle;
	background:url("../img/custom_input.png") left top no-repeat;
	cursor:pointer;
}
input[type="checkbox"]:checked + label span{
	background:url("../img/custom_input.png") -16px top no-repeat;
}
input[type="radio"]{
	display:none;
}
input[type="radio"] + label{
	color:red;
}
input[type="radio"] + label span{
	display:inline-block;
	width: 16px;
	height:16px;
	margin:-2px 10px 0px 0px;
	vertical-align: middle;
	background:url("../img/custom_input.png") -32px top no-repeat;
	cursor:pointer;
}
input[type="radio"]:checked + label span{
	background:url("../img/custom_input.png") -48px top no-repeat;
}
.custom_chk{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	text-align: left;
	color: #999999;
}
/** 1. 감섹 결과 레이아웃 **/
.search_main{
	background-color:#232629;
	padding:100px 8.34% 0px 8.34%;
	box-sizing: border-box;
}
.search_main p{
	font-size:16.67px;
	line-height:16.67px;
	color:#7e8a95;
	margin-bottom: 20px;
}
.search_main .search_title{
	font-size:40px;
	line-height:40px;
	color:#fff;
	width: 100%;   
	line-height: 48px;
} 
.search_list .artist_list{
	margin: 0% 8.34%;
}
.search_list .search_nav{
	height: 64px;
	display: block;
	width:100%;
	background-color:#eff3f6 !important;
	padding:0px 8.34% 0px 8.34%;
	box-sizing:border-box;
	position: relative;
}
.search_list .search_nav li{
	float:left;
}
.list_sort{position: absolute;top:24px;right:20%;}
.list_filter{position: absolute;top:22px;;right:6.388888888888889%;}
.list_sort a{
	background: url("../img/m_sort.png") no-repeat;
	text-indent: -9999px;
	display: inline-block;
	width:18px;
	height:14px;
}
.list_filter a{
	background: url("../img/m_filter.png") no-repeat;
	text-indent: -9999px;
	display: inline-block;
	width:16px;
	height:16px;
}
.search_list .search_title{
	width: 100%;
	height:56px;
	font-size:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100; 
	color:#454d54;
	border-bottom: solid 1px #454d54;
	background-color:transparent;
}
.list_total{
	font-family: inherit;
	font-size: 14px;
	height: 64px;
	line-height: 64px;
	text-align: left;
	color: #888888;
	font-weight:300;
	border-bottom:solid 1px #eff5f7;
}
.list_total span{font-weight:500;}
/** 2.슬라이드 m_slider **/
.page_blur{
	width:100%;
	height:100%;
	position:fixed;
	top: 0px;
	left:0px;
	background-color:rgba(0,0,0,0.4);
	z-index:5;
	display:none;
}
.m_slider{
	width:80.555555555555556%;
	height: 100%;
	position: fixed;
	top:0px;
	right:-9999px;
	z-index:10000;
	background-color: #fff;
	font-family: "Roboto", sans-serif
}
/* .open{
	right:0px;
} */
html.open {
	overflow: hidden;
}
.m_slider.open {
	right: 0px;
}
.page_blur.open {
	display: block;
}

.m_slider .slider_header{
	height:75px;
	width:100%;
	background-color:#232629;
}
.m_slider .slider_header title{
	font-family: "Roboto",sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	display: block;
	line-height:75px;
	padding: 0px 12.068965517241379% 0px 12.068965517241379%;
	box-sizing: border-box;
	display: inline-block;
}
.m_slider .slider_header button{
	width:15px;
	height:15px;
	border: none;
	position: absolute;
	top:30px;
	right:30px; 
	display: inline-block;
	text-indent: -9999px;
	background:url("../img/m_filter_x.png") no-repeat;
}
.m_slider .slider_body fieldset{
	border-bottom:solid 3px #eef3f6;
}
.art_aution_place b{display:block;}
/*** 반복사용 class end ***/

body.user_intro{
	background-color:#232629;
}
body #header{
	height:60px;
	width: 100%;
	position: fixed;
	top: 0px;
	box-sizing: border-box;
	background-color:#232629;
	z-index: 9999;
} 
body #header .header_logo{
	position: absolute;
	top:20px;
	left:8.34%;
}
body #contents{
	display: block;
	clear: both;
	box-sizing: border-box;
}
body.user_intro #contents{
	margin: 0% 8.34%;
	clear: both;
	height: 580px;
	padding-top: 116px;
	box-sizing: border-box;
}
body #contents form{
	/* margin:56px 0px 0px 0px; */
	background-color: pimnk;
	font-family: inherit;
}

body #contents form fieldset legend{
	width: 0px;
	height: 0px;
	display: none;
}
body #contents form fieldset ul{
	width: 100%;
	margin-bottom: 28px;
}
body #contents form fieldset ul li input{
	width: 100%;
	height:56px;
	font-size:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100; 
	color:#454d54;
	border-bottom: solid 1px #454d54;
	background-color:transparent;
}
body #contents form fieldset ul li input:active,
body #contents form fieldset ul li input:hover,
body #contents form fieldset ul li input:focus
{
	color:#fff;
	border-bottom: solid 1px #ffffff !important;
}
body #contents form fieldset #remember_id{
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border: solid 1px #7e8a95;
}
body #contents form fieldset .remember_class{
	font-size: 14px;
	color:#7e8a95;
	font-weight: 300;
}
body #contents form fieldset .btn_login{
	margin-top: 21px;
	width: 100%;
	height: 55px;
	background-color: #fff;
	text-align: center;
	color: #000000;
	font-size: 16px;
	display: block;
	appearance: none; 
	-moz-appearance: none; /* Firefox */ 
	-webkit-appearance: none; /* Safari and Chrome */
	font-weight: 500;
}
.forget_pass{
	font-size:14px;
	color:#7e8a95;
	text-align: right;
	font-style: italic;
	text-decoration: underline;
	margin-top: 25px;
	display: block;
	font-weight: 300;
}
.monopoly{ 
	margin-top: 123px;
	width: 100%;
	height: 54px;
	border:solid 1px #454d54;
	text-align: left;
	line-height: 54px;
	font-size:16px;
	color:#7e8a95;
	display: block;
	padding: 0px 30px;
	box-sizing: border-box;
	position: relative;
} 
.monopoly:after{
	content:url("../img/00_arrow.png");
	position: absolute;
	top: 0px;
	right: 30px;
}
/* start - main*/
body #contents .search_form {
	position: relative;
}
body #contents form .search_box{
	width: 100%;
	height:56px;
	font-size:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100; 
	color:#454d54;
	border-bottom: solid 1px #454d54;
	background-color:transparent;
	/* border: solid 1px red; */
}
body #contents form .search_box:active,
body #contents form .search_box:hover,
body #contents form .search_box:focus{
	color:#fff;
	border-bottom: solid 1px #ffffff !important;
}
body #contents form #search_button{
	background: url("../img/m_search_icon.png");
	/* border:solid 1px red; */
	position: absolute;
	top: 15px;
	right: 1px;
	width: 23px;
	height: 24px;
	display: block;    
	text-indent: -10000px;
}
.main_txtarea{
	color:#7e8a95;
	font-family: inherit;
	font-size:13px;
	line-height: 17px;
	width: 100%;
	font-weight:300;
	margin-top: 125px;
	word-break: break-word; 
}
.main_txtarea p{
	display: block;
	margin-bottom: 23px;
}
/* main end */
/* artist_list start */
#header .go_back{
	width:13px;
	height:23px;
	background:url("../img/m_header_arrow.png") no-repeat;
	text-indent:-9999px;
	border: solid 0px white;
}
#header .go_search{
	width:22px;
	height:23px;
	background:url("../img/m_search_icon.png") no-repeat;
	text-indent:-9999px;
	border: solid 0px white;
}
#header .header_default{}
#header .header_default .header_logo{left:20.83%;}
#header .header_default .go_back{position:absolute;top:18px;left:8.3%;}
#header .header_default .go_search{position:absolute;top:17px;right:8.1%;}
#header .header_search{display:none;}
#contents{overflow-y:scroll;}

#contents .artist_search{
	height:215px;
}
#contents .list_area{}
#contents .artist_list_area .artist_nav li:first-child{background:url("../img/m_artistlist_nav1.png") no-repeat;background-size:13px 17px;background-position: center center;}
#contents .artist_list_area .artist_nav li:nth-child(2){background:url("../img/m_artistlist_nav2.png") no-repeat;background-size:16px 11px;background-position: center center;}
#contents .artist_list_area .artist_nav li:last-child{background:url("../img/m_artistlist_nav3.png") no-repeat;background-size:15px 23px;background-position: center center;}

#contents .artist_list_area .artist_nav li{
	float: left;
	width:33.333333333333333%; 
	height: 64px;
	background-color:#eff3f6 !important;
}
#contents .artist_list_area .artist_nav li.artist_nav_select{
	background-color:#fff !important;
}	
#contents .artist_list_area .artist_nav li a{
	width:100%; 
	height: 64px;
	display:block;
}
#contents .artist_list_area{font-family: "Roboto", sans-serif;}

#contents .artist_list_area .artist_list ul li a{
	height: 74px;
	border-bottom:solid 1px #eff5f7;
	padding: 20px 0px 0px 0px;
	box-sizing: border-box;
	display: block;
}
#contents .artist_list_area .artist_list ul li a span{
	font-family: inherit;
	font-size: 12px;
	text-align: left;
	color: #999999;
	line-height:12px;
}
#contents .artist_list_area .artist_list ul li a p{
	font-family: inherit;
	margin-bottom: 4px;
	font-size: 18px;
	line-height:18px;
	text-align: left;
	color: #222222;
}
/*artist_list end*/
/*artwork_list start*/
.artwork_list{
}
.artwork_search{
	height:264px;
}
.artwork_search p{
	margin-top: 20px;
}
.artwork_list ul li{
	background-color: #ffffff;
	border-bottom: solid 11px #eff3f6;
	clear: both;
}
.artwork_list ul li .img_area{
	/* background-color:pink; */
	width: 33.333333333333333%;
	float: left;
}
.artwork_list ul li .txt_area{
	/* background-color:hotpink; */
	float: left;
	width: 56%;
	margin-left: 10%;
}
.artwork_list ul li a {
	padding: 90px 8.34% 40px 8.34%;
	display: block;
	width: 100%;
	height: auto;
	/* background-color: pink; */
	box-sizing: border-box;
	clear: both;
	overflow: hidden;
	padding-top: 30px;
}
.title_artist{
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #222222;
	margin-bottom:16px;
}
.artwork_list ul li .txt_area dl .title_art{
	/* text-transform: uppercase; */
	font-family: inherit;
	font-size: 20px;
	line-height:20px;
	font-weight: bold;
	text-align: left;
	color: #222222;
	width:100%;
	height: 20px;
	text-overflow:ellipsis; overflow:hidden;white-space: nowrap;
	margin-bottom: 14px;
}
.info_art{
	font-weight: 100 !important;
	font-family: inherit;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #222222;
	width:100%;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	line-height: 20px;
}
.artwork_list ul li .img_area .title_img{
	width: 100px;
	height: 100px;
	background-color:#f7f7f7;
	margin-bottom: 39px;
}
.artwork_list ul li .img_area .title_guaranted{
	width: 100px; 
	width: 67; 
	height:45px;
	background-color:#f7f7f7;
	font-weight: 100;
}
.info_art_price_1{
	font-family: inherit;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: -0.5px;
	text-align: left;
	color: #c2c2c2;
	font-weight: 300;
	margin:30px 0px 10px 0px;
}
.info_art_price_2{
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: -0.5px;
	text-align: left;
	color: #222222;
}
.info_art_price_2 span{
	font-family: inherit;
	font-size: 10px;
	font-weight: 300;
	text-align: left;
	color: #aaaaaa;
}
.art_auction_info{
	margin-top: 33px;
	font-family: inherit;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #666666;
	margin-bottom:14px;
}
.art_auction_info span{
	width: 66px;
	height: 19px;
	border-radius: 9px;
	border: solid 1px #a7afb7;
	background-color: #ffffff;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	line-height: 19px;
	text-align: center;
	color: #a7afb7;
}
.art_aution_place{
	font-family: inherit;
	font-size: 13px;
	line-height: 13px;
	text-align: left;
	line-height:19px;;
	color: #444444;
	font-weight: 300;
}
/*artwork - filter 슬라이드*/
.slider_border{
	border-bottom:solid 3px #eef3f6;
	margin:20px 0px 20px 0px;
}
.m_slider .slider_body {
	
}
.m_slider ul{
	margin-left: 12.068965517241379%;
	margin-right: 12.068965517241379%;
	box-sizing: border-box;
}
.m_slider legend{
	margin-left: 12.068965517241379%;
	box-sizing: border-box;
}
.m_slider legend{
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #222222;
	float: left;
	width: 60.344827586206897%;
	margin-bottom:20px;
}
.m_slider .sub_legend{
	font-family: inherit;
	font-size: 11px;
	text-align: left;
	color: #666666;
	margin-top:4px;
	font-weight:300;
}
.m_slider .category{
	margin: 30px 0px 30px 0px;
}
.m_slider .category #check_all + label{
	font-family: inherit;
	font-size: 14px;
	text-align: left;
	color: #000000;
}
.m_slider .category .check_all{
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	text-align: left;
	color: #000000;
}
.m_slider .category ul{
	clear: both;
	overflow:hidden;
	border-top:solid 3px #eef3f6;
}
.m_slider .category ul li{
	line-height:25px;
}
.m_slider .category ul li label{
	font-family: inherit;
	font-size: 14px; 
	text-align: left;
	color: #999999;
	font-weight: 300;
}
.slider_year .picker{
	background-color:#eef3f6;
	width:100px;
	height:30px;
}
/* artwork_list end */

body.user_intro #footer{
	background-color:transparent !important;
	padding-left: 0px;
}
body.user_intro #footer p{
	padding-top: 18px;
	box-sizing: border-box;
	color:#454d54;
	text-align: center;
}
body #footer{
	height:60px;
	display: block;
	width: 100%;
	margin-top:40px;
	/* position: absolute;
	bottom: 0px; */
	background-color:#eef3f6;
	padding-left: 30px;
	box-sizing: border-box;
} 
body #footer p{
	width:100%;
	padding-top: 27px;
	box-sizing: border-box;
	color:#454d54;
	font-size:12px;
	display:block;
	font-family: inherit;
	font-size: 12px;
	text-align: left;
	color: #a7afb7;
	box-sizing: border-box;
}
/* 아래는 가져온 스타일 입니다. */
/* autocomplete 스타일 시작*/
/*the container must be positioned relative:*/
.autocomplete {
	width: 100%;
	position: relative;
	display: inline-block;
}
.autocomplete-items {
	position: absolute;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 0px 5.56% 0px 5.56%;
	height: 40px;
	box-sizing: border-box;
	line-height: 40px;
	cursor: pointer;
	color: #fff;
	font-weight: 100;
	font-size: 20px;
	background-color: #fff;
	background-color: #32363a;
	/* border-bottom: 1px solid #d4d4d4; */
}
/* autocomplete 스타일 끝*/
/* jquery-ui : datapicker css 수정 start*/
.ui-datepicker-calendar {
display: none;
}
.ui-datepicker-month {
display: none;
}
.ui-datepicker-next,.ui-datepicker-prev {
display:none;
}
/* jquery-ui : datapicker css 수정 end*/
