@import "./helpers/mixin";
@import "./helpers/pc_mixin";
@import "./helpers/variables";

/* 공통영역 스타일 */
// html,body{
html ,body{
    height: 100%;
}
body{
    height: 100%;
}
input {
    &[type="checkbox"] {
        @include custtom_check;
    }
    &[type="radio"] {
        @include custtom_radio;
    }
}
.sticky {
    position: fixed;
    top: 83px;
    width: 100%;
}
.sticky + .content {
    padding-top: 102px;
}
.footer_watermark{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -780px;
    z-index: -1 !important;
    width: 1562px;
    z-index: 99999;
    height: 170px;
    background: url(../img/pc/bg_logo.png) no-repeat;
}
.footarea{height: 170px;}
.pc_wrap{
    width: 1190px;
    margin:$block_center;
}
.txt_center{text-align:$text_center;}
/*  상세페이지 틀 2개임. main-header영역/list-nav영역*/
.search_main {
    overflow:hidden;
    background-color: #232629;
    padding: 36px 30px 78px 30px;
    margin-top: 79px;
    box-sizing: border-box;
    p {
        font-size: 16.67px;
        line-height: 16.67px;
        color: #7e8a95;
    }
    .search_title {
        font-size: 56px;
        line-height: 40px;
        color: #fff;
        font-weight: 700;
        width: 100%;
        line-height: 48px;
    }
}
.search_list {

    .search_nav {
        height: 64px;
        display: block;
        width: 100%;
        background-color: #eff3f6 !important;
        box-sizing: border-box;
        position: relative;

        li {
            float: left;
        }
    }

    .list_total {
        font-family: inherit;
        font-size: 14px;
        height: 64px;
        line-height: 64px;
        text-align: left;
        color: #888888;
        padding-left: 30px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
}
/* 공통영역 스타일 end */
body {
    // position: relative;
    &.user_intro { /* intro 영역 */
        background-color: #232629;
        @include set_footer(170px);
        #footer{
            position: relative;
            text-align: center;
            background-color: transparent !important;
            padding-left: 0px;
            height: 170px;
            width: 100%;
            display: block;
            p {
                padding-top: 18px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: #454d54;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                color: #4d555b;
                position: absolute;
                bottom: 30px;
                width: 100%;
            }
        }
        #contents {
            clear: both;
            height: 580px;                          
            padding-top: 173px;
            box-sizing: border-box;
            width:500px;
            .forget_pass_link {
                font-size: 14px;
                color: #7e8a95;
                text-align: right;
                font-style: none;
                text-decoration: underline;
                margin-top: 25px;
                display: block;
                font-weight: 300;
                text-decoration: none;
                line-height: 19px;
                border-bottom: solid 1px #7e8a95 !important;
                width: 146px;
                float: right;
                display: block;
            }
            
            .monopoly {
                margin-top: 123px;
                width: 100%;
                height: 60px;
                border: solid 1px #454d54;
                text-align: left;
                line-height: 60px;
                font-size: 16px;
                color: #7e8a95;
                display: block;
                padding: 0px 30px;
                box-sizing: border-box;
                position: relative;
                &:after {
                    content: url("../img/00_arrow.png");
                    position: absolute;
                    top: 0px;
                    right: 30px;
                }
            }
            .search_form {
                position: relative;
            }
            form {
                font-family: inherit;
                .search_box {
                    width: 100%;
                    height: 56px;
                    font-size: 20px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 300;
                    color: #fff;
                    border-bottom: solid 1px #454d54;
                    background-color: transparent;
                    padding-right: 50px;
                    box-sizing: border-box;
                    @include ellipsis(1);
                    @include input_has_value();
                }
                #search_button {
                    background: url(../img/m_search_icon.png) no-repeat center center;
                    position: absolute;
                    top: 0px;
                    right: 1px;
                    width: 50px;
                    height: 56px;
                    display: block;
                    text-indent: -10000px;
                }
                fieldset {
                    legend {
                        width: 0px;
                        height: 0px;
                        display: none;
                    }
                    ul {
                        width: 100%;
                        margin-bottom: 30px;
                        li input {
                            width: 100%;
                            height: 56px;
                            font-size: 18px;
                            font-family: "Roboto", sans-serif;
                            font-weight: 300;
                            color:#fff;
                            background-color: transparent;
                            border-bottom: solid 1px #454545;
                            @include input-has-value();
                        }
                    }
                    #remember_id {
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                        border: solid 1px #7e8a95;
                        @include custtom_check2;
                    }
                    .remember_class {
                        font-size: 14px;
                        color: #7e8a95;
                        font-weight: 300;
                    }
                    .btn_login {
                        margin-top: 30px;
                        width: 100%;
                        height: 64px;
                        background-color: #fff;
                        text-align: center;
                        color: #000000;
                        font-size: 16px;
                        display: block;
                        appearance: none;
                        -moz-appearance: none;
                        /* Firefox */
                        -webkit-appearance: none;
                        /* Safari and Chrome */
                        font-weight: 700;
                    }
                }
            }
        }
    }
    &.artist_page{
        min-width: 1190px;
        @include set_footer(120px);
        #footer{
            height: 120px;
            background-color: #eef3f6;
            line-height: 120px;
            position: relative;
            img{
                width: 128px;
                height: 17px;
                margin: 0px 40px 0px 40px;
            }
            p{
                font-family: $default_font;
                font-size: 12px;
                display:inline-block;
                // line-height: 131px;
                margin-left: 13px;
                color: #acaeb5;
            }
            ul{
                position: absolute;
                top:0px;
                right:40px;
                li{
                    float: left;
                    font-family: $default_font;
                    font-size: 14px;
                    color: #acaeb5;
                    &:first-child{
                        &:after{
                            content:'|';
                            padding: 0px 10px;
                        }
                    }
                    a{
                        display: inline-block;
                        color: inherit;
                        font-family: inherit;
                    }
                }
            }
        }
        .artist_list_area {
			font-family: "Roboto", sans-serif;
			.artist_list{
				.list_total{
                    padding-left:0px !important;
                    border-bottom:solid 1px #ebf0f2;
				}
			}
			.artist_nav li {
                &:first-child {
                    a{
                        background: url("../img/m_artistlist_nav1.png") no-repeat;
                        background-size: 10px 13px;
                        background-position:74px;
                        padding-left: 92px;
                    }
					
				}
				&:nth-child(2) {
                    a{
                        background: url("../img/m_artistlist_nav2.png") no-repeat;
                        background-size: 12px 8px;
                        background-position:62px;
                        padding-left: 80px;
                    }
					
				}
				&:last-child {
                    a{
                        background: url("../img/m_artistlist_nav3.png") no-repeat;
                        background-size: 11px 18px;
                        background-position: 70px;
                        padding-left: 85px;
                    }
					
                }
                a {
					width: 100%;
					height: 64px;
                    display: block;
                    font-family: $default_font;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 64px;
                    letter-spacing: 1px;
                    box-sizing: border-box;
                    color: #888;
                    &:hover{
                        background-color:#dde4e8;
                    }
				}
				float: left;
				width: 220px;
                height: 64px;
                text-transform: uppercase;
				background-color: #eff3f6 !important;
				&.artist_nav_select {
                    background-color: #fff !important;
                    a{
                        color:#222;
                        &:hover{
                            background-color:#dde4e8;
                        }
                    }
				}
				
			}
			.artist_list {
                .artist_noresult{
                    padding-left: 52px;
                    span{
                        font-family: $default_font;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 1.11;
                        text-align: left;
                        color: #222222;
                        margin: 20px 0px 22px 0px;
                        display: block;
                    }
                    p{
                        font-family: $default_font;
                        font-size: 14px;
                        line-height: 1.43;
                        text-align: left;
                        color: #999999;
                        font-weight: 300;
                        margin-bottom: 151px;
                    }
                    button{
                        width: 300px;
                        height: 64px;
                        margin: 0 auto;
                        display: block;
                        border: solid 1px #c1ccd6;
                        background-color: #ffffff;  
                        font-family: $default_font;
                        font-size: 16px;
                        font-weight: 500;
                        color: #000000;
                    }
                }
                ul{
                    padding-left: 52px;
                    li{
                        a{
                            &:after{
                                content:'';
                                width:11px;
                                height:17px;
                                background-image:url("../img/artist_list_arrow2.png");
                                background-size: 11px 17px;
                                position: absolute;
                                top:50%;
                                margin-top:-6px;
                                right: 0px;
                            }
                            min-height: 74px;
                            border-bottom: solid 1px #eff5f7;
                            padding: 20px 40px 20px 0px;
                            box-sizing: border-box;
                            display: block;
                            position:relative;
                            span {
                                font-family: inherit;
                                font-size: 12px;
                                text-align: left;
                                color: #999999;
                                line-height: 12px;
                            }
                            p {
                                display: inline-block;
                                font-family: inherit;
                                margin-bottom: 4px;
                                font-size: 18px;
                                line-height: 18px;
                                text-align: left;
                                color: #222222;
                            }
                        }
                    }
                }
				
			}
		}
    }
    &.artwork_page{
        @include set_footer(69px);
        background-color: #eff3f6;
        min-width: 1190px;
        #footer{
            clear: both;
            height: 69px;
            position: relative;
            line-height: 69px;
            background-color: #fff;
            img{
                width: 128px;
                height: 17px;
                margin: 0px 0px 0px 40px;
            }
            p{
                font-family: $default_font;
                font-size: 12px;
                display:inline-block;
                margin-left: 13px;
                color: #acaeb5;
            }
            ul{
                position: absolute;
                top:0px;
                right:40px;
                li{
                    float: left;
                    font-family: $default_font;
                    font-size: 14px;
                    color: #acaeb5;
                    &:first-child{
                        &:after{
                            content:'|';
                            padding: 0px 10px;
                        }
                    }
                    a{
                        display: inline-block;
                        color: inherit;
                        font-family: inherit;
                    }
                }
            }
        }

        /*artwork_list start*/
        .artwork_search {
            height: 211px;
            padding-bottom: 30px;
            p {
                margin-top: 20px;
            }
        }
        .search_list{
            width: 100%;
            
            .filter_wrap{
                position: relative;
                height: auto; 
                margin-bottom: 80px;
            }
            .slider_body {
                height: auto;
                padding-bottom: 40px;
                background-color: #ffffff;
                form{
                    .filter_search {
                        position: absolute;
                        bottom: -80px;
                        left: 50%;
                        margin-left: -100px;
                        width: 200px;
                        height: 50px;
                        background-color: #000000;
                        line-height: 50px;
                        font-family: inherit;
                        font-size: 15px;
                        letter-spacing: 0.9px;
                        text-align: center;
                        color: #ffffff;
                    }
                    .toggle_btn{
                        cursor: pointer;
                        position: absolute;
                        bottom:10px;
                        right:50%;
                        margin-right: -595px;
                        font-family: $default_font;
                        font-size: 12px;
                        text-align: left;
                        color: #666666;
                        // &:after{
                        //     content:'';
                        //     width: 12px;
                        //     height: 7px;
                        //     display:inline-block;
                        //     margin-left:9px;
                        //     background-size:12px 7px;
                        //     background-image: url('../img/pc/f_toggle_down.png');
                        // }
                        img{
                            width: 12px;
                            height: 7px;
                            display:inline-block;
                            margin-left:9px;
                            background-size:12px 7px;
                            // background-image: url('../img/pc/f_toggle_down.png');
                        }
                    }
                    .toggle_chk1{
                        display: none;
                    }
                    .filter_refresh {
                        position: absolute;
                        bottom: -80px;
                        right:50%;
                        margin-right: -160px;
                        border:solid 1px #a7afb7;
                        text-indent: -99990px;
                        width: 50px;
                        height:50px;
                        
                        span {
                            background: url("../img/pc/filter_refresh.png") no-repeat center center;
                            display: inline-block;
                            width: 23px;
                            height: 18px;
                            position: absolute;
                            top: 16px;
                            left: 13px;
                        }
                    }
                    .toggle_area{
                        display:none;
                    }
                    fieldset {
                        margin-top: 20px;
                        border-top: solid 1px #77818a;
                        box-sizing: border-box;
                        display: inline-block;
                        vertical-align: top;
                        
                        legend {
                            display: block;
                            width:100%;
                            margin: 20px 0px 20px 0px;
                            font-family: inherit;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: left;
                            color: #222222;
                            float: left;
                            select {
                                float:right;
                                width: 55px;
                                @include select_ui(14px, #000, normal);
                                background-size: 8px 4px !important;
                            }
                            
                            select::-ms-expand {
                            /* for IE 11 */
                            display: none;
                            }
                        }
                        ul{
                            display:inline-block;
                        }
                        &.f_category {
                            /* padding: 30px 30px 30px 0px; */
                            width: 406px;
                            margin-right: 35px;
                            box-sizing: border-box;
                            .more{
                                display: inline-block;
                                font-family: $default_font;
                                font-weight: normal;
                                font-size: 14px;
                                text-align: left;
                                color: #000000;
                                border-bottom:solid 1px #000;
                                float:right;
                            }
                            .filter_medium{
                                width:100%;
                            }
                            .f_chk_list_medium{
                                clear: both;
                                padding-top: 20px;
                                width:100%;
                            }
                        }
                        &.f_slider_year {
                            width:222px;
                            margin-right: 35px;
                        }
                        &.f_size{
                            width:222px;
                            margin-right: 35px;
                            .custom-select{
                                float: right;
                            }
                            .select-items{
                                div{
                                    width: 75px;
                                }
                            }
                        }
                        &.f_price{
                            width:222px;
                            legend {
                                span {
                                    font-family: inherit;
                                    font-size: 14px;
                                    font-weight: 300;
                                    line-height: 1.14;
                                    text-align: left;
                                    color: #888888;
                                    margin-left: 9px;
                                }
                            }
                        }
                        &.f_title{
                            width:406px;
                            margin-right: 35px;
                            margin-top:50px;
                        }
                        &.f_house_title{
                            width:477px;
                            margin-right: 35px;
                            margin-top:50px;
                            input{
                                width:100%;
                            }
                        }
                        &.f_date_number{
                            width: 222px;
                            margin-top:50px;
                        }
                        .f_second{
                            margin-top: 18px;
                        }
                    }
                    /*artwork - filter 슬라이드*/
                    .filter_slider{
                        height: 335px;
                        background-color: #fff;
                    }
                    .filter_input {
                        width: 100%;
                        height: 31px;
                        border-radius: 2px;
                        display: block;
                        background-color: #eef3f6;
                        font-family: inherit;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.07;
                        text-align: left;
                        padding: 0px 12px 0px 12px;
                        box-sizing: border-box;
                        &::placeholder {
                            color: #bbb !important;
                        }
                    }
                    
                    .accordion label {
                        position: relative;
                        &:after {
                            content: url("../img/m_accordian_down.png");
                            position: absolute;
                            top: 29px;
                            right: 22px;
                        }
                    }
                    .advanced .inputarea li:not(.sub_legend) {
                        margin-bottom: 16px;
                    }
                    .f_i2_to {
                        font-family: inherit;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 1.6;
                        display: inline-block;
                        color: #444444;
                    }
                    .filter_input2 {
                        background-color: #eef3f6;
                        height: 30px;
                        width: 98.5px;
                        padding: 0px 12px 0px 12px;
                        box-sizing: border-box;
                        font-family: inherit;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.07;
                        text-align: left;
                        color: #444;
                    }
                    
                    .art_ex {
                        font-family: inherit;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 1.5;
                        text-align: left;
                        color: #222222;
                        width: 220px;
                        margin-bottom: 10px;
                    }
                    .slider_year legend {
                        display: block;
                        width: 100%;
                    }
                    
                    
                    .sub_legend {
                        font-family: inherit;
                        font-size: 11px;
                        text-align: left;
                        color: #666666;
                        margin-bottom:11px;
                        /* margin-top: 4px; */
                        font-weight: 400;
                        line-height: 11px;
                        // background-color: pink;
                    }
                    
                    .slider_border {
                        border-bottom: solid 2px #eef3f6;
                        margin: 20px 0px 20px 0px;
                    }
                    .chk_all {
                        font-family: inherit;
                        font-size: 14px;
                        text-align: left;
                        color: #000000;
                        float: right;
                    }
                    .check_all {
                        display: inline-block;
                        font-family: inherit;
                        font-size: 14px;
                        text-align: left;
                        color: #000000;
                    }
                    ul{
                        li {
                            line-height: 25px;
                            label {
                                font-family: inherit;
                                font-size: 14px;
                                text-align: left;
                                color: #999999;
                                font-weight: normal;
                            }
                        }
                        &.f_chk_list {
                            float: left;
                            &.fr_list{
                                margin-right:70px;
                            }
                        }
                        
                    }
                } /*form end*/
            }
            .artwork_list{
                clear: both;
                margin-top: 19px;
                .table_caption{
                    li{
                        float: left;
                        font-family: $default_font;
                        font-size: 14px;
                        text-align: left;
                        color: #888888;
                        margin-bottom: 13px;
                        &.select{
                            float:right;
                        }
                        //     select {
                        //         font-size: 14px;
                        //         text-align: left;
                        //         color: #888888;
                        //         width: auto;
                        //         font-weight: 700;
                        //         padding-right: 25px;
                        //         font-family: inherit;
                        //         background: url(../img/pc/pc_more.png) no-repeat 95% 50%;
                        //         -webkit-appearance: none;
                        //         -moz-appearance: none;
                        //         appearance: none;
                        //         border: none;
                        //         border-bottom: 1px solid #666;
                        //         border-radius: 0px;
                        //     }
                        //     select::-ms-expand {
                        //     /* for IE 11 */
                        //     display: none;
                        //     }
                        // }
                    }
                }
                table{
                    clear: both;
                    background-color:#fff;
                    width: 100%;
                    padding:0px 50px 0px 50px;
                    margin-top: 12px;
                    tr{
                        border-bottom:solid 1px #eef4f6;
                        th{
                            width:auto;
                            height: 52px;
                            font-family: $default_font;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 52px;
                            text-align: center;
                            color: #888888;
                            text-transform: uppercase;
                        }
                        td{
                            vertical-align: top;
                            padding-top: 43px;
                            padding-bottom: 43px;
                            &.lot_detail{
                                @include lot_detail(1);
                            }
                            &.sale_info{
                                width:176px;
                                .art_auction_info {
                                    font-family: inherit;
                                    font-size: 16px;
                                    font-weight: 300;
                                    line-height: 16px;
                                    color: #666666;
                                    margin-bottom: 14px;
                                    span {
                                        display:inline-block;
                                        width: 66px;
                                        height: 19px;
                                        border-radius: 9px;
                                        background-color: #a7afb7;
                                        font-family: $default_font;
                                        font-size: 10px;
                                        font-weight: bold;
                                        line-height: 19px;
                                        text-align: center;
                                        text-transform: uppercase;
                                        color: #ffffff;
                                    }
                                }
                                .art_aution_place {
                                    font-family: inherit;
                                    font-size: 13px;
                                    line-height: 13px;
                                    text-align: left;
                                    line-height: 19px;
                                    color: #444444;
                                    font-weight: 300;
                                    b {
                                        display: block;
                                    }
                                }
                            }
                            &.est_price{
                                @include info_art_price();
                            }
                        }
                    }
                    
                }
                
            }
        }
        /*pagenation*/
        .pagination {
            position: relative;
            padding:61px 0px 68px 0px;
            .pagination_wrap{
                width:140px;
                margin: 0 auto;
                a {
                    margin:0px 7px;
                    color: black;
                    float: left;
                    text-decoration: none;
                    font-family: $default_font;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: left;
                    color: #888888;
                    &:hover{
                        &.next_page, &.prev_page{
                            color:#232629;
                        }
                        &.next_page{
                            background-image:url('../img/pc/select_next_page.png');
                        }
                        &.prev_page{
                            background-image:url('../img/pc/select_prev_page.png');
                        }
                    }
                    &.next_page, &.prev_page{
                        font-family: $default_font;
                        font-size: 14px;
                        font-weight: normal;
                        color: #888888;
                        margin: 0px;
                        padding: 0px;
                    }
                    &.next_page{
                        text-align: left;
                        position: absolute;
                        right:0px;
                        width:59px;
                        background-image:url('../img/pc/default_next_page.png');
                        background-position:right;
                        background-repeat: no-repeat;
                    }
                    &.prev_page{
                        text-align: right;
                        position: absolute;
                        left:0px;
                        width:79px;
                        background-image:url('../img/pc/default_prev_page.png');
                        background-position:left;
                        background-repeat: no-repeat;
                    }
                    &.active {
                        border-bottom:solid 1px #000;
                        color: #000;
                    }
                }
            }
        }
            
    }
    &.artwork_detail{
        @include set_footer(83px);
        min-width: 1190px;
        #footer{
            position: relative;
            line-height: 83px;
            height: 83px;
            background-color: #fff;
            img{
                width: 128px;
                height: 17px;
                margin: 0px 0px 0px 40px;
            }
            p{
                font-family: $default_font;
                font-size: 12px;
                display:inline-block;
                line-height: 95px;
                margin-left: 13px;
                color: #acaeb5;
            }
            ul{
                position: absolute;
                top:0px;
                right:40px;
                li{
                    float: left;
                    font-family: $default_font;
                    font-size: 14px;
                    color: #acaeb5;
                    &:first-child{
                        &:after{
                            content:'|';
                            padding: 0px 10px;
                        }
                    }
                    a{
                        display: inline-block;
                        color: inherit;
                        font-family: inherit;
                    }
                }
            }
        }
        .detail_wrap{
            box-sizing:border-box;
            padding-left: 136px;
        }
        .detail_info {
            padding-top: 80px;
            box-sizing: border-box;
			height: 333px;
			border-bottom: solid 1px #eef3f6;
			.d_more {
				margin-left: 30px;
				display: block;
				width: 46px;
				height: 19px;
				line-height: 19px;
				text-align: center;
				border-radius: 9px;
				background-color: #a7afb7;
				color: #fff;
				font-family: inherit;
				font-size: 10px;
				font-weight: 700;
			}
		}
		.detail_slide {
            overflow: hidden;
			height: 172px;
			border-bottom: solid 1px #eef3f6;
			padding-top: 42px;
            box-sizing: border-box;
            a{
                display: block;
                &:hover{
                    span{
                        border-bottom: solid 1px #222222;
                    }
                }
            }
			.slide_wrap {
				overflow-x: auto;
                overflow-y:hidden;
                
                ul {
                    display: flex;
                    li {
                        min-width: 56px;
                        height: 57px;
                        float: left;
                        margin-right: 5px;
                        &.show_num{
                            font-family: $default_font;
                            line-height:57px;
                            text-align: center !important;
                            font-size: 34px;
                            font-weight: 300;
                            text-align: left;
                            color: #dadfe1;
                        }
                    }
                }
			}
			span {
                width: 165px;
                font-family: $default_font;
                font-size: 24px;
                font-weight: 500;
                margin-bottom:10px;
                display:inline-block;
                letter-spacing: normal;
                text-align: left;
                color:#222;
                border-bottom:solid 1px #fff;
			}
			
		}
		.detail_price {
			padding-top: 49px;
			box-sizing: border-box;
			min-height: 341px;
			border-bottom: solid 3px #eef3f6;
			.price_list {
				font-weight: 300;
				.range {
					font-family: inherit;
					font-size: 16px;
					line-height: 21px;
					color: #bbbbbb;
				}
				.price1 {
					font-family: inherit;
					font-size: 28px;
					line-height: 28px;
					letter-spacing: -0.8px;
					color: #222222;
                    margin-top: 9px;
                    margin-bottom:5px;
					font-weight: 700;
					span {
						font-family: inherit;
						font-size: 10px;
						line-height: 10px;
						color: #888888;
						font-weight: normal;
                        letter-spacing: normal;
					}
				}
				.price2 {
					font-family: inherit;
					font-size: 16px;
					font-weight: bold;
					line-height: 25px;
					letter-spacing: -0.5px;
					text-align: left;
					color: #222222;
				}
			}
			.price_info {
				margin-top: 30px;
				font-family: inherit;
				font-size: 14px;
				line-height: 20px;
				color: #444444;
				font-weight: 300;
				.date {
					color: #666666;
					font-weight: 300;
				}
				.place {
					font-weight: 700;
				}
			}
        }
		.detail_info {
			.d_img_wrap {
                width:100px;
                float: left;
                img{
                    display: block;
                    margin: 0 auto;
                    &.d_main_img{
                        max-width: 100px;
                        max-height: 110px;
                    }
                    &.d_sub_img{
                        width:67px;
                        height:46px;
                        margin-top: 20px;
                    }
                }
                
			}
			.detail_define {
                padding-left: 100px;
                width: 100%;
                margin-left: -100px;
                float: left;
                box-sizing: border-box;
                dt,dd{
                    padding-left:36px;
                }
				.artist {
					font-family: inherit;
					font-size: 20px;
					line-height: 20px;
					color: #444;
					margin-bottom: 10px;
				}
				.artist_ex {
					font-family: inherit;
					font-size: 12px;
					line-height: 12px;
					color: #a7afb7;
					margin-bottom: 20px;
				}
				.art_name {
					font-family: inherit;
					font-size: 16px;
					font-weight: 700;
					line-height: 16px;
					color: #222222;
					margin-bottom: 8px;
				}
			}
        }

        .detail_txt{
            height: 800px;
            width:100%;
            padding-top: 81px;
            box-sizing: border-box;
            background-color: #eff3f7;
            dl{
                dt{
                    font-family: $default_font;
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 28px;
                    text-align: left;
                    color: #222;
                }
                dd{
                    font-family: $default_font;
                    font-size: 16px;
                    line-height:22px;
                    font-weight: 300;
                    text-align: left;
                    color: #484848;
                    margin-bottom:46px;
                    p{
                        margin-bottom:20px;
                    }
                }
            }
            // p{
            //     font-family: $default_font;
            //     font-size: 16px;
            //     line-height:22px;
            //     font-weight: 300;
            //     text-align: left;
            //     color: #484848;
            //     margin-bottom:46px;
            //     &.detail_title{
            //         font-family: $default_font;
            //         font-size: 24px;
            //         font-weight: 500;
            //         margin-bottom: 28px;
            //         text-align: left;
            //         color: #222;
            //     }
            // }
        }
    }
    &.comparables_page{
        @include set_footer(80px);
        #footer{
            height: 80px;
            line-height: 80px;
            position: relative;
            background-color: #eef3f6;

            img{
                width: 128px;
                height: 17px;
                margin: 0px 0px 0px 40px;
            }
            p{
                font-family: $default_font;
                font-size: 12px;
                display:inline-block;
                line-height: 80px;
                margin-left: 13px;
                color: #acaeb5;
            }
            ul{
                position: absolute;
                top:0px;
                right:40px;
                li{
                    float: left;
                    font-family: $default_font;
                    font-size: 14px;
                    color: #acaeb5;
                    &:first-child{
                        &:after{
                            content:'|';
                            padding: 0px 10px;
                        }
                    }
                    a{
                        display: inline-block;
                        color: inherit;
                        font-family: inherit;
                    }
                }
            }
        }
        .search_main{
            height: 212px;
            p{
                padding-left: 77px;
                margin-bottom:19px;
            }
            h2{
                padding-left: 77px;
            }
        }
        .fixed_area{
            width:100%;
            height: 172px;
            z-index: 9999;
            // position:fixed;
            background-color: #eff3f6;
            .c_fixed_table{

            }
            .c_m_txt,
            .c_f_txt{
                width: auto !important;
                font-size: 18px !important;
                font-weight: 300;
                letter-spacing: center;
                line-height: 100px;
                text-align: center;
                color: #222222;
            }
            .title_artist{font-size: 14px !important;}
            .title_artist_info{
                font-size: 14px !important;
                line-height: 1.14;
                text-align: left;
                color: #9fabb3;
            }
            .info_art_price_2{
                margin-top: 23px !important;
            }
        }
        table{
            .c_artwork{
                width:362px !important;
                @include lot_detail(2);
                padding-top: 37px !important;
                padding-bottom:40px;
                .img_area{
                    width:90px !important;
                    height:90px !important;
                    img{
                    }
                }
                
                .title_art{
                    font-size: 16px;
                    line-height: 20px !important;
                    font-weight: 500 !important; 
                    text-align: left !important;                                            
                    text-transform: uppercase;
                    color: #444444 !important;
                    margin-top: 14px !important;
                }
                .title_artist{
                    font-size: 12px;
                    text-align: left;
                    font-weight: 500;
                    color: #444444 !important;
                }
            }
            .c_medium{
                width:123px;
            }
            .c_size{
                width:123px;
            }
            .c_year{
                width:123px;
            }
            .c_price{
                vertical-align: top;
                @include info_art_price();
                width:296px;
                padding: 37px 0px 0px 54px !important;
            }
            .c_saleinfo{
                vertical-align: top;
                width:161px;
                padding-top: 65px !important;
                font-weight: 400;
                p{
                    font-size: 13px;
                    text-align: left;
                    color: #888888;
                    
                    b{
                        display: block;
                        font-weight: 400;
                        font-size:14px;
                        color:#222222;
                        margin-bottom: 7px;
                    }
                }
            }
            tr{
                padding-bottom: 40px !important;
                .c_m_txt{
                    font-family: $default_font;
                    font-size: 14px;
                    font-weight: 300;
                    color: #888888;
                    text-align: center;
                    width:35px;
                    line-height: 17px;
                    margin:0 auto;
                }
                .c_figure{
                    vertical-align: middle;
                    img{
                        display: block;
                        width:25px;
                        margin: 0 auto;
                        padding-bottom: 10px;
                    }
                }
                .c_f_txt{
                    font-family: $default_font;
                    font-size: 12px;
                    font-weight: 300;
                    color: #888888;
                    text-align: center;
                    line-height:18px;
                    span{
                        display:block;
                        font-family: $default_font;
                        font-size: 16px;
                        font-weight: 700;
                        text-align: center;
                        color: #222;
                    }
                }
                border-bottom:solid 1px #eef4f6;
                th{
                    width: 58px;
                    height: 62px;
                    line-height: 62px;
                    font-family: $default_font;
                    font-size: 11px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-align: center;
                    color: #9fabb3;
                    text-transform: uppercase;
                }
                td{}
            }
        }
    }
    #header {
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0px;
        box-sizing: border-box;
        background-color: #232629;
        z-index: 300;
        a{
            width:240px;
            height:60px;
            display:block;
            .header_logo {
                position: absolute;
                top: 30px;
                    left: 50px;
                // padding-top: 30px;
                // padding-left: 50px;
            }
        }
        .go_back {
            width: 13px;
            height: 23px;
            background: url("../img/m_header_arrow.png") no-repeat;
            text-indent: -9999px;
            border: solid 0px white;
        }
        .go_search {
            width: 22px;
            height: 23px;
            background: url("../img/m_search_icon.png") no-repeat;
            text-indent: -9999px;
            border: solid 0px white;
        }
        .header_default {
            a{
                width:240px;
                height:60px;
                .header_logo {
                    top: 30px;
                    left: 50px;
                }
                .go_back {
                    position: absolute;
                    top: 18px;
                    left: 30px;
                }
                .go_search {
                    position: absolute;
                    top: 17px;
                    right: 29px;
                }
            }
        }
        .header_search {
            display: none;
        }
    }
    .detail_header{
        height:83px !important;
        .header_default{
            .logo{
                float:left;
            }
            .header_step{
                position: absolute;
                right:370px;
                top:33px;
                // background-color: pink;
                font-family: $default_font;
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                color: #77818a;
                text-transform: uppercase;
                text-align: left;
                li{
                    float:left;
                    &.search_name{
                        color: #ffffff;

                    }
                    &:first-child{
                        &:after{
                            content: '>';
                            padding: 0px 10px;
                        }
                    }
                }
            }
            form{
                position: absolute;
                right:40px;
                top:20px;
                input[type="text"]{
                    // background-color:blue;
                    width: 300px;
                    height: 40px;
                    border-radius: 2px;
                    padding:13px 10px 13px 10px;
                    box-sizing: border-box;
                    border: solid 1px #77818a;
                    background-color: #232629;
                    color:#fff;
                }
                input[type="submit"]{
                    position: absolute;
                    right:12px;
                    top: 12px;
                    background: url('../img/m_search_icon.png') no-repeat;
                    background-size:cover;
                    width:17px;
                    height:17px;
                    text-indent: -9999px;
                }
                
            }
        }
    }
    #contents {
        display: block;
        box-sizing: border-box;
        /* start - main*/
        .main_txtarea {
            color: #7e8a95;
            font-family: inherit;
            font-size: 13px;
            line-height: 17px;
            width: 100%;
            font-weight: 400;
            margin-top: 125px;
            word-break: break-all;
            p {
                display: block;
                margin-bottom: 23px;
            }
        }
        /* main end */
		.artist_search {
            min-height: 157px;
        }
        
		.art_ex {
            font-family: inherit;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            text-align: left;
            color: #222222;
            width: 220px;
            margin-bottom: 13px;
        }
		
        /* forget password page stop */
    } /* # content end */
    

    /* forget password page start*/
    &.forget_pass{
        #contents{
            h2{
                @include intro_h2;
                margin-bottom:10px !important;
                .err_status{
                    font-family: $default_font;
                    font-size: 70px;
                    font-weight: 100;
                    display: block;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.43;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ea7963;
                    margin-bottom: 40px;
                }
            }
            p{
                @include intro_p;
                word-break: break-all;
                margin-bottom:24px;
            }
            .p_email{
                text-decoration: underline;
            }
            img{
                margin:0 auto;
                width: 77px;
                height: 50px;
                display:block;
                margin-bottom:39px;
    
            }
            .forget_email{
                @include input_txt_w100;
            }
            .submit{
                @include input_button_w100;
                margin-top:30px;
            }
            .done{
                @include input_button_w100;
                width: 125px;
                height: 44px;
                line-height:44px;
                color:#a3b3c2;
                margin:$block_center;
                margin-top: 30px;
                font-size:15px;
            }
            .long_done{
                @include input_button_w100;
                width: 162px;
                height: 44px;
                line-height:44px;
                color:#a3b3c2;
                margin:$block_center;
                margin-top: 30px;
                font-size:15px;
            }
            .save_password{
                @include input_button_w100;
                border: solid 1px #454d54;
                background-color: #ffffff;
                color:#000;
                margin-bottom:28px;
                font-weight:700;
            }
            .back_sign{
                display:block;
                width:93px;
                margin:$block_center;
                font-family: $default_font;
                font-size: 14px;
                text-align: center;
                color: #ffffff;
                border-bottom:solid 1px #fff;
                font-weight:300;
            }
            
            .wrap_set_pass{
                margin-top: 50px;
                margin-bottom: 29px;
            }
            .input_set_pass{/*set_password.html*/
                margin-top: 30px;
                .set_pass{
                    @include input_txt_w100;
                    height:50px !important;
                }
                p{
                    font-size: 12px;
                    color: #4d565e;
                    margin: 0 !important;
                }
            }
            
            .input_err{
                .forget_email{
                    border-bottom: solid 1px #ff836a !important;
                    &:active,
                    &:hover,
                    &:focus {
                        border-bottom: solid 1px #ff836a !important;
                    }
                    margin:0px;
                    padding:0px;
                }
                .set_pass{
                    border-bottom: solid 1px #ff836a !important;
                    &:active,
                    &:hover,
                    &:focus {
                        border-bottom: solid 1px #ff836a !important;
                    }
                    margin:0px;
                    padding:0px;
                }
                .alert_err{
                    font-family: $default_font;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.21;
                    text-align: left;
                    color: #ff836a;
                    margin-top: 7px;
                    display: block;
                }
                
            }
            .alert_err{
                display: none;
            }
        }   
    }
}

/* 아래는 가져온 스타일 입니다. */
/* autocomplete 스타일 시작*/
/*the container must be positioned relative:*/
.autocomplete {
    width: 100%;
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    height: 243px;
    overflow-y:auto;
    overflow-x:hidden;
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    div {
        padding: 0px 5.56% 0px 5.56%;
        height: 56px;
        box-sizing: border-box;
        line-height: 56px;
        cursor: pointer;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        background-color: #fff;
        background-color: #32363a;
    }
}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: none;
}

.select-selected {
    @include select_ui(14px, #666, 500);
}
select::-ms-expand {
/* for IE 11 */
display: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    background-image:url('../img/pc/f_toggle_down.png');
    background-size: cover;
    top: 2px;
    right: 0px;
    width: 12px;
    height: 7px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    position: absolute;
    content: "";
    background-image:url('../img/pc/f_toggle_up.png');
    background-size: cover;
    top: 2px;
    right: 0px;
    width: 12px;
    height: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div{
    width: 192px;
    height: 34px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0px 14px;
    border-top: 1px solid #d9e0e7;
    cursor: pointer;
    user-select: none;
    letter-spacing: normal;
    font-family: $default_font;
    font-size: 14px;
    font-weight: normal;
    line-height: 34px;
    text-align: left;
    color: #838383;
    &.first-child{
        border-top: none;
    }
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #fff;
    top: 125%;
    left: -16px;
    z-index: 99;
    border: 1px solid #d9e0e7;
    &.first-child{
        border-top: none;
    }
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #eff3f6;
}
