@import "./helpers/mixin";
@import "./helpers/variables";

/* 공통영역 스타일 */
.pc_wrap{
    width: 1190px;
    margin:$block_center;
}
/*  상세페이지 틀 2개임. main-header영역/list-nav영역*/
.search_main {
    background-color: #232629;
    padding: 36px 30px 0px 30px;
    box-sizing: border-box;
    p {
        font-size: 16.67px;
        line-height: 16.67px;
        color: #7e8a95;
    }
    .search_title {
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        width: 100%;
        line-height: 48px;
    }
}
.search_list {
    .artist_list {
        // margin: 0px 30px;
    }
    .search_nav {
        height: 64px;
        display: block;
        width: 100%;
        background-color: #eff3f6 !important;
        box-sizing: border-box;
        position: relative;

        li {
            float: left;
        }
    }

    .list_total {
        font-family: inherit;
        font-size: 14px;
        height: 64px;
        line-height: 64px;
        text-align: left;
        color: #888888;
        padding-left: 30px;
        font-weight: 300;
        span {
            font-weight: 500;
        }
    }
}
/* 공통영역 스타일 end */
body {
    &.user_intro { /* intro 영역 */
        background-color: #232629;
        #contents {
            clear: both;
            height: 580px;                          
            padding-top: 116px;
            box-sizing: border-box;
            width:500px;
            .forget_pass_link {
                font-size: 14px;
                color: #7e8a95;
                text-align: right;
                font-style:none;
                text-decoration: underline;
                margin-top: 25px;
                display: block;
                font-weight: 300;
            }
            
            .monopoly {
                margin-top: 123px;
                width: 100%;
                height: 54px;
                border: solid 1px #454d54;
                text-align: left;
                line-height: 54px;
                font-size: 16px;
                color: #7e8a95;
                display: block;
                padding: 0px 30px;
                box-sizing: border-box;
                position: relative;
                &:after {
                    content: url("../img/00_arrow.png");
                    position: absolute;
                    top: 0px;
                    right: 30px;
                }
            }
        }
        #footer {
            background-color: transparent !important;
            padding-left: 0px;
            p {
                padding-top: 18px;
                box-sizing: border-box;
                color: #454d54;
                text-align: center;
            }
        }
        // #footer {
        //     height: 60px;
        //     display: block;
        //     width: 100%;
        //     background-color: #eef3f6;
        //     padding-left: 30px;
        //     box-sizing: border-box;
        //     p {
        //         width: 100%;
        //         padding-top: 27px;
        //         box-sizing: border-box;
        //         color: #454d54;
        //         font-size: 12px;
        //         display: block;
        //         font-family: inherit;
        //         font-size: 12px;
        //         text-align: left;
        //         color: #a7afb7;
        //         box-sizing: border-box;
        //     }
        // }
        
    }
    #header {
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0px;
        box-sizing: border-box;
        background-color: #232629;
        z-index: 100;
        a{
            width:240px;
            height:60px;
            display:block;
            .header_logo {
                position: absolute;
                padding-top: 30px;
                padding-left: 50px;
            }
        }
        .go_back {
            width: 13px;
            height: 23px;
            background: url("../img/m_header_arrow.png") no-repeat;
            text-indent: -9999px;
            border: solid 0px white;
        }
        .go_search {
            width: 22px;
            height: 23px;
            background: url("../img/m_search_icon.png") no-repeat;
            text-indent: -9999px;
            border: solid 0px white;
        }
        .header_default {
            a{
                width:240px;
                height:60px;
                .header_logo {
                    left: 30px;
                }
                .go_back {
                    position: absolute;
                    top: 18px;
                    left: 30px;
                }
                .go_search {
                    position: absolute;
                    top: 17px;
                    right: 29px;
                }
            }
        }
        .header_search {
            display: none;
        }
	}

    #contents {
        display: block;
        box-sizing: border-box;
        margin-top: 80px;
		.search_form {
			position: relative;
		}
		form {
			font-family: inherit;
			.search_box {
				width: 100%;
				height: 56px;
				font-size: 20px;
				font-family: "Roboto", sans-serif;
				font-weight: 100;
				color: #fff;
				border-bottom: solid 1px #454d54;
				background-color: transparent;
				padding-right: 30px;
				box-sizing: border-box;
				@include input_has_value();
			}
			#search_button {
				background: url("../img/m_search_icon.png");
				position: absolute;
				top: 15px;
				right: 1px;
				width: 23px;
				height: 24px;
				display: block;
				text-indent: -10000px;
			}
			fieldset {
				legend {
					width: 0px;
					height: 0px;
					display: none;
				}
				ul {
					width: 100%;
					margin-bottom: 28px;
					li input {
						width: 100%;
						height: 56px;
						font-size: 18px;
						font-family: "Roboto", sans-serif;
						font-weight: 100;
						color:#fff;
						background-color: transparent;
						border-bottom: solid 1px #454545;
						@include input-has-value();
					}
				}
				#remember_id {
					width: 15px;
					height: 15px;
					margin-right: 10px;
                    border: solid 1px #7e8a95;
                    @include custtom_check2;
				}
				.remember_class {
					font-size: 14px;
					color: #7e8a95;
					font-weight: 300;
				}
				.btn_login {
					margin-top: 21px;
					width: 100%;
					height: 55px;
					background-color: #fff;
					text-align: center;
					color: #000000;
					font-size: 16px;
					display: block;
					appearance: none;
					-moz-appearance: none;
					/* Firefox */
					-webkit-appearance: none;
					/* Safari and Chrome */
					font-weight: 500;
				}
			}
        }
        /* start - main*/
        .main_txtarea {
            color: #7e8a95;
            font-family: inherit;
            font-size: 13px;
            line-height: 17px;
            width: 100%;
            font-weight: 300;
            margin-top: 125px;
            word-break: break-all;
            p {
                display: block;
                margin-bottom: 23px;
            }
        }
        /* main end */
		.artist_search {
			min-height: 157px;
        }
        
		.artist_list_area {
			font-family: "Roboto", sans-serif;
			.artist_list{
				.list_total{
                    padding-left:0px !important;
                    border-bottom:solid 1px #ebf0f2;
				}
			}
			.artist_nav li {
				&:first-child {
					background: url("../img/m_artistlist_nav1.png") no-repeat;
					background-size: 13px 17px;
					background-position:74px;
				}
				&:nth-child(2) {
					background: url("../img/m_artistlist_nav2.png") no-repeat;
					background-size: 16px 11px;
					background-position:74px;
				}
				&:last-child {
					background: url("../img/m_artistlist_nav3.png") no-repeat;
					background-size: 15px 23px;
					background-position: 74px;
				}
				float: left;
				width: 220px;
				height: 64px;
				background-color: #eff3f6 !important;
				&.artist_nav_select {
                    background-color: #fff !important;
                    a{
                        color:#222;
                    }
				}
				a {
					width: 100%;
					height: 64px;
                    display: block;
                    font-family: $default_font;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 64px;
                    letter-spacing: 1px;
                    padding-left: 105px;
                    box-sizing: border-box;
                    color: #888;
				}
			}
			.artist_list {
                .artist_noresult{
                    span{
                        font-family: $default_font;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.11;
                        text-align: left;
                        color: #222222;
                        margin-bottom: 17px;
                        display: block;
                        padding-top: 20px;
                    }
                    p{
                        font-family: $default_font;
                        font-size: 14px;
                        line-height: 1.43;
                        text-align: left;
                        color: #999999;
                        font-weight: 300;
                        margin-bottom: 30px;
                    }
                    button{
                        @include input_button_w100;
                        border: solid 1px #c1ccd6;
                        background-color: #ffffff;  
                        font-family: $default_font;
                        font-size: 16px;
                        font-weight: 500;
                        color: #000000;
                    }
                }
				li{
					a{
						&:after{
							content:url("../img/artist_list_arrow2.png");
							position: absolute;
							top:50%;
							margin-top:-6px;
							right: 0px;
						}
						min-height: 74px;
						border-bottom: solid 1px #eff5f7;
						padding: 20px 40px 20px 0px;
						box-sizing: border-box;
						display: block;
						position:relative;
						span {
							font-family: inherit;
							font-size: 12px;
							text-align: left;
							color: #999999;
							line-height: 12px;
						}
						p {
							font-family: inherit;
							margin-bottom: 4px;
							font-size: 18px;
							line-height: 18px;
							text-align: left;
							color: #222222;
						}
					}
				}
			}
		}
		.detail_info {
			min-height: 387px;
			border-bottom: solid 3px #eef3f6;
			.d_more {
				margin-left: 30px;
				display: block;
				width: 46px;
				height: 19px;
				line-height: 19px;
				text-align: center;
				border-radius: 9px;
				background-color: #a7afb7;
				color: #fff;
				font-family: inherit;
				font-size: 10px;
				font-weight: 500;
			}
		}
		.detail_slide {
			min-height: 145px;
			border-bottom: solid 3px #eef3f6;
			padding: 30px;
			box-sizing: border-box;
			.slide_wrap {
				overflow-x: auto;
				overflow-y:hidden;
			}
			span {
				font-family: inherit;
				font-size: 20px;
				font-weight: normal;
				line-height: 20px;
				color: #222222;
				margin-bottom: 11px;
				display: block;
			}
			ul {
				display: flex;
				li {
					min-width: 56px;
					height: 57px;
					float: left;
					margin-right: 5px;
				}
			}
		}
		.detail_price {
			padding: 30px 30px 0px 30px;
			box-sizing: border-box;
			min-height: 283px;
			border-bottom: solid 3px #eef3f6;
			.price_list {
				font-weight: 300;
				.range {
					font-family: inherit;
					font-size: 16px;
					line-height: 21px;
					color: #bbbbbb;
				}
				.price1 {
					font-family: inherit;
					font-size: 28px;
					line-height: 28px;
					letter-spacing: -0.8px;
					color: #222222;
					margin-top: 9px;
					font-weight: 500;
					span {
						font-family: inherit;
						font-size: 10px;
						line-height: 10px;
						color: #888888;
						font-weight: 300;
					}
				}
				.price2 {
					font-family: inherit;
					font-size: 16px;
					font-weight: bold;
					line-height: 25px;
					letter-spacing: -0.5px;
					text-align: left;
					color: #222222;
				}
			}
			.price_info {
				margin-top: 30px;
				font-family: inherit;
				font-size: 14px;
				line-height: 20px;
				color: #444444;
				font-weight: 300;
				.date {
					color: #666666;
					font-weight: 100;
				}
				.place {
					font-weight: 500;
				}
			}
		}
		.detail_info {
			.d_img_wrap {
				width: 100%;
				min-height: 141px;
				position: relative;
				.d_main_img {
					/* margin-left:30px; */
					position: absolute;
					left: 30px;
					top: 30px;
				}
				.d_sub_img {
					position: absolute;
					top: 30px;
					right: 30px;
				}
			}
			.detail_define {
				margin-left: 30px;
				margin-top: 14px;
				.artist {
					font-family: inherit;
					font-size: 20px;
					line-height: 20px;
					color: #444;
					margin-bottom: 10px;
				}
				.artist_ex {
					font-family: inherit;
					font-size: 12px;
					line-height: 12px;
					color: #a7afb7;
					margin-bottom: 20px;
				}
				.art_name {
					font-family: inherit;
					font-size: 16px;
					font-weight: 500;
					line-height: 16px;
					color: #222222;
					margin-bottom: 8px;
				}
			}
        }
        /* forget password page stop */
    } /* # content end */
    #footer{
        height: 120px;
        background-color: #eef3f6;
        img{
            width: 128px;
            height: 17px;
            margin: 0px 0px 0px 40px;
        }
        p{
            font-family: $default_font;
            font-size: 12px;
            display:inline-block;
            line-height: 131px;
            margin-left: 13px;
            color: #acaeb5;
        }
    }

    /* forget password page start*/
    &.forget_pass{
        #contents{
            h2{
                @include intro_h2;
                margin-bottom:10px !important;
            }
            p{
                @include intro_p;
                word-break: break-all;
                margin-bottom:24px;
            }
            img{
                margin:0 auto;
                width: 77px;
                height: 50px;
                display:block;
                margin-bottom:39px;
    
            }
            .forget_email{
                @include input_txt_w100;
            }
            .submit{
                @include input_button_w100;
                margin-top:30px;
            }
            .done{
                @include input_button_w100;
                width: 125px;
                height: 44px;
                line-height:44px;
                color:#a3b3c2;
                margin:$block_center;
                margin-top: 30px;
                font-size:15px;
            }
            
            .save_password{
                @include input_button_w100;
                border: solid 1px #454d54;
                background-color: #ffffff;
                color:#000;
                margin-bottom:28px;
                font-weight:500;
            }
            .back_sign{
                display:block;
                width:93px;
                margin:$block_center;
                font-family: $default_font;
                font-size: 14px;
                text-align: center;
                color: #ffffff;
                border-bottom:solid 1px #fff;
                font-weight:300;
            }
            
            .wrap_set_pass{
                margin-top: 50px;
                margin-bottom: 29px;
            }
            .input_set_pass{/*set_password.html*/
                margin-top: 30px;
                .set_pass{
                    @include input_txt_w100;
                    height:50px !important;
                }
                p{
                    font-size: 12px;
                    color: #4d565e;
                    margin: 0 !important;
                }
            }
            
            .input_err{
                .forget_email{
                    border-bottom: solid 1px #ff836a !important;
                    &:active,
                    &:hover,
                    &:focus {
                        border-bottom: solid 1px #ff836a !important;
                    }
                    margin:0px;
                    padding:0px;
                }
                .set_pass{
                    border-bottom: solid 1px #ff836a !important;
                    &:active,
                    &:hover,
                    &:focus {
                        border-bottom: solid 1px #ff836a !important;
                    }
                    margin:0px;
                    padding:0px;
                }
                .alert_err{
                    font-family: $default_font;
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 1.21;
                    text-align: left;
                    color: #ff836a;
                    margin-top: 7px;
                    display: block;
                }
                
            }
            .alert_err{
                display: none;
            }
        }   
    }
}

/* 아래는 가져온 스타일 입니다. */
/* autocomplete 스타일 시작*/
/*the container must be positioned relative:*/
.autocomplete {
    width: 100%;
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    height: 243px;
    overflow-y:auto;
    overflow-x:hidden;
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    div {
        padding: 0px 5.56% 0px 5.56%;
        height: 56px;
        box-sizing: border-box;
        line-height: 56px;
        cursor: pointer;
        color: #fff;
        font-weight: 100;
        font-size: 14px;
        background-color: #fff;
        background-color: #32363a;
    }
}