@import "./_variables.scss";
/*
20180315 dorothy
해당 파일은 mobile,pc에서 공통으로 사용이 가능한 mixin을 모아두었습니다. 
아래와 같은 기능이 있습니다.
- ellipsis (말줄임, 있을시에는 줄여지고 없으면 안보임.)
- media query (애플 제품 기준)
- input_has_value : input 선택시 주어지는 css
- input_txt_w100 : width가 100% 인 input의 스타일
- custtom_radio / custom_checkbox : 디자인이 적용된 radio/checkbox버튼
- set_footer : pc에서 사용합니다. pc에서는 푸터영역 디자인이 총3개이기 묶어 놓았습니다.(footer가 하단에 고정되게 스타이을 줍니다.)
*/
@mixin test_page($top_position,$img_url){
    position: fixed;
    z-index: 999999;
    top: $top_position;
    left: 0;
    width: 100%;
    height:100%;
    opacity: 0.5;
    overflow-y: scroll;
    background: url($img_url) no-repeat;
    background-size: cover;

}
@mixin ellipsis($line) {
    @if $line == 0 {
        overflow: none;
    }@else{
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
}

@mixin input_txt_w100{
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-family: $default_font;
    font-weight: 100;
    color: #fff;
    border-bottom: solid 1px #454d54;
    background-color: transparent;
    padding-right: 30px;
    box-sizing: border-box;
    @include input_has_value();
}
@mixin input_button_w100{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-align:center;
    border: solid 1px #454d54;
    font-family: $default_font;
    color: #ffffff;
}
@mixin input_has_value(){
    ::placeholder{
        color: #454d54;
    }
    &:active,
    &:hover,
    &:focus {
        color: #fff;
        border-bottom: solid 1px #ffffff !important;
    }
}
@mixin intro_h2{
    font-family: $default_font;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
    color: #ffffff;
}
@mixin intro_p{
    font-family: $default_font;
    font-size: 16px;
    line-height: 15px;
    color: #93a1ad;
    margin:$block_center;
    display: block;
    font-weight:300;
    line-height: 1.47;
}
@mixin padding_corner{}
@mixin custtom_check{
    display: none;
    + label span {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin:-2px 13px 0px 0px;
        vertical-align: middle;
        background: url("../img/custom_input.png") -32px top no-repeat;
        cursor: pointer;
    }
    &:checked + label span {
        background: url("../img/custom_input.png") -48px top no-repeat;
    }
}
@mixin design_check {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: -2px 10px 0px 0px;
        vertical-align: middle;
        background: url("../img/custom_input.png") -32px top no-repeat;
        cursor: pointer;
        & + p{
            display:inline-block;
        }
        & + span{
            display:inline-block;
        }
}
@mixin design_chked{
    background: url("../img/custom_input.png") -48px top no-repeat;
}
@mixin custtom_check2{
    display: none;
    + label span {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: -2px 10px 0px 0px;
        vertical-align: middle;
        background: url("../img/custom_input.png") left top no-repeat;
        cursor: pointer;
    }
    &:checked + label span {
        background: url("../img/custom_input.png") -16px top no-repeat;
    }
}
@mixin custtom_radio{
    display: none;
    + label {
        color: #222222;
        span {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: -2px 10px 0px 0px;
            vertical-align: middle;
            background: url("../img/custom_input.png") -64px top no-repeat;
            cursor: pointer;
        }
    }
    &:checked + label span {
        background: url("../img/custom_input.png") -80px top no-repeat;
    }
}

/* 미디어 쿼리 정의*/
$iphone-x-size: 375px;
$way-point-3-size: 575px;
$ipad-mini-size: 768px;
$iphone-x-under: 'iphone-x-under';
$iphone-x-to-way-point-3: 'iphone-x-to-way-point-3';
$way-point-3-to-ipad-mini: 'way-point-3-to-ipad-mini';
$ipad-mini-over: 'ipad-mini-over';
$ipad-mini-under: 'ipad-mini-under';
@mixin respond-to($media) {
    @if $media == $iphone-x-under {
        @media only screen and (max-width: $iphone-x-size - 1) { @content; }
    }
    @else if $media == $iphone-x-to-way-point-3 {
        @media only screen and (min-width: $iphone-x-size) and (max-width: $way-point-3-size - 1) { @content; }
    }
    @else if $media == $way-point-3-to-ipad-mini {
        @media only screen and (min-width: $way-point-3-size) and (max-width: $ipad-mini-size - 1) { @content; }
    }
    @else if $media == $ipad-mini-over {
        @media only screen and (min-width: $ipad-mini-size) { @content; }
    }
    @else if $media == $ipad-mini-under {
        @media only screen and (max-width: $ipad-mini-size - 1) { @content; }
    }
}
/* 미디어쿼리정의 */